include *.md
recursive-include cruvitools/who/reference-data *.pkl
recursive-include cruvitools/greulichpyle/reference-data *.pkl *.xlsx
recursive-include cruvitools/cdc/reference-data *.pkl *.csv
recursive-include cruvitools/intergrowth/reference-data *.pkl *.xlsx
recursive-include cruvitools *.py